body{
    background: whitesmoke;
}



select {
    position: fixed;
    z-index: 999;
    top: 10px;
    left: 10px;
    height: 30px;
    width: 200px;
}



#graph{
    position: relative;
    z-index: 0;
}

.pop{
    position: absolute;
    z-index: 999;
}

.popup{
    height: 100px;
    width: 100px;
    background-color: whitesmoke;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}

.popup::before{
    content: "";
    height: 110px;
    width: 110px;
    position: absolute;
    z-index: -1;
    background-color: #333333;
    border-bottom-right-radius: 50% ;
    border-top-right-radius: 50% ;
    border-bottom-left-radius: 50% ;
}

.pop .popup-img{
    height: 100px;
    width: 100px;
}